* {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202024;
}

::-webkit-scrollbar-thumb {
  background: #8257e5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #633bbc;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: #121214;
  color: #fff;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
}

